@tailwind base;
@tailwind components;
@tailwind utilities;


.wrapper{
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;

}

/* 
Potential colours that go well with dark background
White (#FFFFFF)
Light gray (#D6D6D6)
Light blue (#ADD8E6)
Pale yellow (#FFFFE0)
Light green (#90EE90)
Light pink (#FFC0CB) 

Blue
Dodger blue (#1E90FF)
Light blue (#87CEFA)
Cornflower blue (#6495ED)
Powder blue (#B0E0E6)

Orange
Coral (#FF7F50)
Light salmon (#FFA07A)
Peach (#FFDAB9)
Papaya whip (#FFEFD5)
*/

@layer base {
  body{
    @apply bg-[#1f2937] text-[#ecf0f3] tracking-wide
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-bold
  }

  h1{
    @apply text-4xl sm:text-5xl md:text-6xl
  }

  h2{
    @apply text-3xl sm:text-4xl
  }

  li{
    @apply cursor-pointer
  }

  button {
    @apply shadow-xl rounded-xl uppercase bg-[#FF7F50] hover:bg-[#f86029] focus:bg-[[#f86029]] text-black
  }
}